.App {
  text-align: center;
}

.game {
  display: flex;
  flex-direction: row;
}
.tableOfContents {
  flex: 1;
  background-color: bisque;
}

.rules {
  flex: 2;
  background-color: burlywood;
}

.rulesText {
  padding-left: 10%;
  padding-right: 10%;
}

.chapter {
  cursor: pointer;
  text-align: left;
  padding-left: 40%;
}
