@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Raleway&display=swap");

.App {
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.game {
  display: flex;
  flex-direction: row;
}

h1 {
  font-family: "Fredericka the Great", cursive;
}

.tableOfContents {
  flex: 1;
  background-color: tan;
  max-height: 100vh;
  overflow-y: scroll;
}

.rules {
  flex: 2;
  background-color: wheat;
  max-height: 100vh;
  overflow-y: scroll;
}

.rulesText {
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;
}

.chapter {
  cursor: pointer;
  text-align: left;
  padding-left: 40%;
}

.chapterHeading {
  font-weight: bold;
  padding-top: 10px;
  cursor: default;
}

input {
  padding: 5px;
}

.searchBox {
  padding-bottom: 20px;
}

button {
  padding: 8px;
  background-color: burlywood;
  border: none;
  border-radius: 2px;
  font-weight: bold;
}
